#post_content
  %h1=  @post.title
  %p= @post.content

  #comments
    %h2= @post.comments.count
    = render @post.comments

    %h3 Reply to Thread
    = render 'comments/form'

  %br/
  %hr/
  %br/
  .links
    = link_to 'Edit', edit_post_path(@post), class: "button"
    = link_to "Delete", post_path(@post), method: :delete, data: {Confirm: 'Are You Sure?'}, class: "button"
    